@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --noto-bg: #0f1115;
  --noto-text: #e8eaed;
  --noto-muted: #9aa0a6;
}

body {
  margin: 0;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    sans-serif;
}
